DATABASE_HOST=your-database-host
DATABASE_USER=your-database-user
DATABASE_NAME=your-database-name
DATABASE_PASSWORD=your-database-password
NEXTAUTH_URL=your-nextauth-url
NEXTAUTH_SECRET=your-secret-key-at-least-32-characters-long
DATABASE_URL=your-database-url
WP_USERNAME=your-wordpress-username
WP_APP_PASSWORD=your-wordpress-app-password
WP_MEDIA_UPLOAD_URL=your-wordpress-media-upload-url